<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="css/vue.css">
    </head>
    <body>
        <div id="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand">vue.js</a>
                    <from id="search_from">
                        <input class="searchInp" type="text">
                    </from>
                    <ul class="nav clearfix">
                        <li><a>首页</a></li>
                        <li><a>VUE2.0</a></li>
                        <li><a>参考资料</a></li>
                        <li><a>API</a></li>
                        <li><a>关于</a></li>
                        <li><a>注册</a></li>
                        <li><a>登陆</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main" id="main">
            <div class="content">
                <div class="panel">
                    <div class="main_header">
                        <a class="topic-tab cur" @click="tabFun($event)">全部</a>
                        <a class="topic-tab" @click="tabFun($event)">精华</a>
                        <a class="topic-tab" @click="tabFun($event)">weex</a>
                        <a class="topic-tab" @click="tabFun($event)">分享</a>
                        <a class="topic-tab" @click="tabFun($event)">问答</a>
                        <a class="topic-tab" @click="tabFun($event)">招聘</a>
                    </div>
                    <ul class="topic-list">
                        <li class="cell clearfix" v-for="item in notList">
                            <a class="user_avatar">
                                <img :src="item.img">
                                <!--<img src="img/app/title.jpg">-->
                            </a>
                            <span class="reply_count">
                                <span>{{item.huifu}}</span>
                                <span>/</span>
                                <span>{{item.look}}</span>
                            </span>
                            <a class="last_time">
                                <span>{{item.time}}</span>
                            </a>
                            <div class="topic_title_wrapper" v-if="item.putTop=='置顶'">
                                <span class="put_top">{{item.putTop}}</span>
                                <a>{{item.time}}</a>
                            </div>
                            <div class="topic_title_wrapper" v-else>
                                <span class="topiclist-tab">{{item.putTop}}</span>
                                <a>{{item.time}}</a>
                            </div>
                        </li>
                    </ul>
                    <div class="pagination">
                        <ul>
                            <li><<</li>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>>></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="script/vue.min.js"></script>
    <script src="js/vue-resource.js"></script>
    <script src="script/index.js"></script>
</html>